.page {
  @include block(block);
  @include padding(a 1/2);
  min-height: 100vh;

  @include mediaquery(l) {
    @include padding(a 1);
  }

  @include mediaquery(xl) {
    @include padding(v 1.5, h 2);
  }

  @include mediaquery(xxl) {
    @include margin(t $height-header);
  }
}

@each $tile-color in $areas {
  .page--#{$tile-color} {
    @include background-color($tile-color);
  }
}

.page--home {
  @include padding(a 0);
  min-height: 0; // dont care

  @include mediaquery(landscape) {
    font-size: 6vw;
  }

  @include mediaquery(portrait) {
    font-size: 6.5vh;
  }

  @include mediaquery(xxl) {
    @include margin(t 0);
  }
}

.page--contact {
  .link-section--blog,
  .link-section--work {
    right: 0;
  }
}

.page--legal-notice,
.page--blog {
  .link-section--blog,
  .link-section--contact,
  .link-section--work {
    left: 0;
  }
}

.page--work {
  .link-section--contact {
    left: 0;
  }

  .link-section--blog {
    right: 0;
  }
}

.page--error {
  @include color(inverted);
  background-image: url('../img/404.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page--love {
  @include color(inverted);

  .graf--h1 {
    @include absolute(t 60%, l 0, r 0);
    @include z-index(feet);
    text-align: center;
  }
}

.page__header {
  @include margin;
  @include font-size(h1-mobile);
  @include font-weight(default);
  @include padding(b 1/4);
  display: inline-block;
  line-height: 1.05;
  letter-spacing: -0.01em;

  @include mediaquery(l) {
    @include font-size(h1);
  }

  @include attention {
    text-decoration: none;
  }
}
