<!doctype html>
<html class="no-js{% if debug %}  fonts-loaded{% endif %}{% if site.modifiers %}  {{ site.modifiers }}{% endif %}" lang="{{ language.code }}" dir="{{ language.direction }}">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="7" />
    <meta name="ICBM" content="{{ site.latitude }}, {{ site.longitude }}" />
    <meta name="geo.position" content="{{ site.latitude }};{{ site.longitude }}" />
    <meta name="geo.region" content="{{ site.region }}" />
    <meta name="geo.placename" content="{{ site.place }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="authorization_endpoint" href="{{ site.authEndpoint }}" />
    <link rel="token_endpoint" href="{{ site.tokenEndpoint }}" />
    <link rel="me" href="https://twitter.com/{{ site.social }}" />
    <link rel="me" href="https://github.com/{{ site.social }}" />
    <link rel="me" href="https://keybase.io/{{ site.social }}" />
    <link rel="pgpkey" href="{{ site.publicKey }}">

    <meta property="og:url" content="{{ page.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:image" content="{{ page.previewImage }}" />
    <meta property="og:image:alt" content="{{ page.previewImageAlt }}"/>
    <meta property="og:description" content="{{ page.description }} " />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="og:locale" content="{{ site.language.locale }}" />
    <meta property="article:author" content="{{ site.author }}" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.social }}" />
    <meta name="twitter:creator" content="@{{ site.social }}" />
    <meta name="twitter:url" content="{{ page.url }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="{{ page.previewImage }}" />
    <meta name="twitter:image:alt" content="{{ page.previewImageAlt }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/apple-touch-icon.png' | path }}" />
    <link rel="icon" sizes="32x32" type="image/png" href="{{ '/images/favicon-32x32.png' | path }}" />
    <link rel="icon" sizes="16x16" type="image/png" href="{{ '/images/favicon-16x16.png' | path }}" />
    <link rel="mask-icon" href="{{ '/images/safari-pinned-tab.svg' | path }}" color="{{ site.defaultColor }}" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="{{ site.mainColor }}" />
    <meta name="theme-color" content="{{ site.mainColor }}" />

    <!-- add any og/twitter-card stuff here -->
    {# TODO FEEDS


      # first last when on notes/blog
      <link rel="first" href="https://example.com/article/">
      <link rel="last" href="https://example.com/article/?page=42">
      <link rel="prev" href="https://example.com/article/?page=1">
      <link rel="next" href="https://example.com/article/?page=3">
    #}

    {%- if debug %}
      <link rel="stylesheet" href="{{ '/styles/main.css' | path }}" />
    {%- else %}
      {# (Edge doesn't apply to print otherwise) Edge, Chrome 39+, Opera 26+, Safari 9+, iOS 9+, Android ~5+, Android UCBrowser ~11.8+ FF 47+ #}
      <link id="modern-browsers" rel="stylesheet" href="{{ '/styles/main.min.css' | path }}?v={{ hash }}" media="
        only print,
        only all and (pointer: fine), only all and (pointer: coarse), only all and (pointer: none),
        only all and (min--moz-device-pixel-ratio:0) and (display-mode:browser), (min--moz-device-pixel-ratio:0) and (display-mode:fullscreen)
        " />

      {%- for font, fontConfig in config.fonts.fonts %}
        {%- if fontConfig.fontface %}
          {%- set fontFile = ['/fonts/', fontConfig.file, '.woff2'] %}
          <link rel="preload" href="{{ fontFile | join | path }}" as="font" type="font/woff2" crossorigin />
        {%- endif %}
      {%- endfor %}
    {%- endif %}
  </head>
  <body>
