// project details view
// ======================================================================

.project {
  @include spacing-inner(b 2);
  @include spacing(b 1);
  overflow: hidden;

  // remove decoration on the last elements of the type .project
  &:last-of-type {
    border-bottom: 0;
  }

  &.decorated {
    @include mediaquery(xl) {
      border-bottom: 0;
    }
  }
}

.project__header {
  @include spacing(b 1/2);

  @include mediaquery(l) {
    @include font-size(h1);
    letter-spacing: -0.01em;
    line-height: 1.05;
  }
}

.project__link {
  @include spacing-inner(v 1/4, h 1);
  @include center(horizontal);
  @include color(work);
  position: relative;
  display: inline-block;

  @include mediaquery(xl) {
    left: 0;
    transform: none;
  }
}

.project__figure {
  @include spacing(b 1);

  &--first {
    @include mediaquery(xl) {
      display: none;
    }
  }

  &--desktop {
    @include spacing(b calc(#{$base-unit} + 5vw));
  }
}
