* text=auto
public/assets/css/main.css -diff
public/assets/css/main.min.css -diff
public/assets/js/main.js -diff
public/assets/js/main.min.js -diff
public/assets/css/main.css merge=ours
public/assets/css/main.min.css merge=ours
public/assets/js/main.js merge=ours
public/assets/js/main.min.js merge=ours

