// buttons
// ======================================================================

// on the how and why of @extend, read:
// http://csswizardry.com/2014/11/when-to-use-extend-when-to-use-a-mixin/

// default button styles for every button
%button {
  background: transparent;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  display: inline-block;
  cursor: pointer;
  color: inherit;
  line-height: 1;
}

.button {
  @extend %button;
}

.button--close {
  @include color(inverted);

  &--welcome {
    @include z-index(belly);
    @include absolute(t 1/2, r 1/2);

    .close-state--welcome:checked ~ & {
      display: none;
    }
  }
}

.button--nav {
  @include color(main);
  @include font-size(h1-mobile);
  @include spacing(r 1/2);
  line-height: $height-header;
  float: right;

  @include mediaquery(l) {
    display: none;
  }
}

// closing states / checkboxes
// ======================================================================

.close-state {
  @extend %visuallyhidden;
}


