// gallery styles
// ======================================================================

.gallery {
  @extend %clearfix;
  @include spacing;

  &__link {
    float: left;
    text-decoration: none;
  }

  &__thumb {
    @include spacing(r 1/4, b 1/4);
    height: $height-thumb;

    @include mediaquery(xl) {
      height: $height-thumb * 7/6;
    }

    @include mediaquery(xxl) {
      height: $height-thumb * 4/3;
    }
  }
}
