// webmentions styling
// ======================================================================

.webmentions-mentions,
.webmentions-reposts,
.webmentions-replies,
.webmentions-likes {
  @extend %clearfix;
  clear: both;
}

.webmention {
  @include spacing(b 1/2);

  @include mediaquery(s) {
    @include spacing-inner(r 1/2);
    float: left;
    width: 50%;
  }

  @include mediaquery(l) {
    width: 33.3333%;
  }
}

.webmention-author {
  @extend %clearfix;
  @include spacing(b 0);
  position: relative;
}

.webmention-author__meta {
  @include font-size(small);
  @include spacing-inner(t 1/4);
}

.webmention-author__photo {
  @include spacing(r 1/4);
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.webmention-text {
  @include font-size(small);
  @include spacing(v 1/2);
  clear: left;
}
