// tiles on the homepage
// ======================================================================

.tiles {
  height: calc(100vh - #{$height-header});
  display: flex;
  flex-direction: column;

  @include mediaquery(xl) {
    flex-direction: row;
    height: 100vh;
  }
}

.tile {
  @include spacing-inner(h 1/2);
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;

  @include mediaquery(xl) {
    position: relative;
    align-items: flex-start;
    width: 33.3333%;
  }

  @include mediaquery(xxxl) {
    @include spacing-inner(t 0, h 1.75);
    position: relative;
  }

  @include attention {
    .tile__teaser {
      text-decoration: underline;
    }
  }
}

@each $tile-color in $areas {
  .tile--#{$tile-color} {
    @include background-color($tile-color);
  }
}

.tile__inner {
  @include mediaquery(xl) {
    @include center(both);
    width: 245px;
  }

  @include mediaquery(xxl) {
    width: 285px;
  }

  @include mediaquery(xxxxl) {
    width: 410px;
  }
}

.tile__title {
  @extend %h1;
  @include spacing(b 0);

  @include mediaquery(l) {
    @include spacing(b 0);
    @include font-size(h2);
  }

  @include mediaquery(xl) {
    @include spacing(b 1);
    @include font-size(h3);
  }
}

.tile__teaser {
  @include spacing(b 0);
  display: none;

  @include mediaquery(xl) {
    @include font-size(h1);
    display: block;
    width: 100%;
    line-height: 1.05;
  }
}

