// welcome splash screen
// ======================================================================

.welcome {
  @extend %animate;
  @include absolute(t 0, l 1/2, r 0, b 0);
  @include spacing-inner(a 1/2);
  @include background-color(default);
  @include color(inverted);
  @include z-index(knees);
  display: flex;
  align-items: center;

  @include mediaquery(xl) {
    @include absolute(t 0, l 0, r 0, b 1);
    @include spacing-inner(a 1);
  }

  .close-state--welcome:checked ~ & {
    transform: translateX(100%);

    @include mediaquery(xl) {
      top: $height-header;
      transform: translateY(-100%);
    }
  }

  &--done {
    transition: unset;
  }
}

.welcome__inner {
  @include spacing(b 0);
  flex: 1;
  font-size: inherit;

  @include mediaquery(maxheight, true) {
    font-size: 10vh;
  }
}
