// other stuff
.list--ul {
  @include padding(l 1.1em);

  .list__item {
    @include spacing(b 1/4);
  }
}

.list--ol {
  counter-reset: step-counter;
  list-style: none;

  .list__item {
    @include padding(l 1.8em);
    position: relative;
    counter-increment: step-counter;

    &::before {
      @include absolute;
      display: block;
      content: counter(step-counter) '.';
    }
  }
}

.graf {
  &--codeblock {
    @include font-size(small);
  }

  &--h3 {
    max-width: 90%;
  }
}

.decorated {
  @include border-color(default);
  border-bottom: $base-half / 2 solid;
  text-decoration: none;

  &--thin {
    border-bottom: $base-half / 4 solid;
  }
}

