{% if not page.isHomepage %}
  <nav class="nav  js-nav">
    <ul class="nav__list">
      {% for navItem in global.nav.main %}
        <li class="nav__item  nav__item--{{ navItem.slug }}">
          <a class="nav__link  js-nav__link  {% if page.current == navItem.slug %}  nav__link--active{% endif %}"
             href="{{ navItem.href }}">
            <span class="nav__link-text">{{ navItem.label }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  {% render '@button', { modifiers: 'button--nav  js-toggle-nav', title: 'Show/Hide Navigation', icon: 'menu' } %}
{% endif %}
