:root {
  @include color(default);
  @include background-color(background);
  box-sizing: border-box; // sane box-sizing everywhere
  font-size: 62.5%; // this should default to 10px in most browsers
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  line-height: $base-line-height;
  text-size-adjust: 100%;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}


body {
  @include font(default);
  @include font-size(default);
  @include background-color(background);

  // remove this if you want custom print-styles
  @include mediaquery(print) {
    * {
      display: none;
    }

    &::after {
      content: 'Please, do not waste paper by printing webpages.';
    }
  }
}

// text selection styles
::selection {
  @include background-color(main);
  @include color(background);
  text-shadow: none;
}
