// use the full avaiable width by defaultj
table {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

// align content in table cells to the top by default
td,
th {
  padding: 0;
  vertical-align: top;
}

// align content to the left for table headings
th {
  text-align: left;
}

