.header {
  @include background-color(default);
  @include color(inverted);
  @include font-size(h3);
  transition: height #{$animation-duration-default} ease;
  will-change: height;
  height: $height-header;

  @include mediaquery(xxl) {
    @include fixed(t 0, r 0, l 0);
    @include z-index(hair);
  }

  &--nav--active {
    height: 100vh;

    @include mediaquery(l) {
      height: $height-header;
    }
  }

  .site--homepage &--top {
    @include mediaquery(xl) {
      display: none;
    }
  }

  &--welcome {
    display: none;

    @include mediaquery(xl) {
      @include absolute(b 0, l 0, r 0, t auto);
      display: block;
    }
  }
}

.header__meta {
  @include font-size(small);
  @include color(main);
  @include margin(r 1/2);
  line-height: $height-header;
  display: none;
  float: right;

  @include attention {
    @include color(inverted);
  }

  @include mediaquery(l) {
    @include margin(r $width-link-section);
    display: block;
  }

  .site--homepage & {
    display: block;
  }
}

.header__code {
  @include color(main);
  @include margin(r $width-link-section * 1.5);
  @include font-size(h1-mobile);
  line-height: $height-header;
  display: none;
  float: right;

  @include attention {
    @include color(inverted);
  }

  @include mediaquery(xl) {
    @include margin(l 1);
    display: block;
  }
}
