// some basic keyframe animations
// ======================================================================

$animation-time-fast: 0.15s;
$animation-time-default: 0.3s;
$animation-time-slow: 0.6s;

@keyframes pulse {
  0% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) translateY(-50%) scale(1.2);
  }

  100% {
    transform: translateX(-50%) translateY(-50%) scale(1);
  }
}
