// base unit - default font-size * line-height in rem and half/double
$base-line-height: 1.3333;
$base-font-size: 24px;

$base-unit-in-px: $base-font-size * $base-line-height;
$base-unit: 1rem * $base-line-height;
$base-quart: $base-unit / 4;
$base-half: $base-unit / 2;
$base-double: $base-unit * 2;
$base-quad: $base-unit * 4;


