// globally used width and height declarations
$width-max: 1180px;
$width-link-section: $base-half;
$width-max-mobile: 30%;
$width-max-tablet: 80%;
$width-max-desktop: 90%;

$height-header: $base-unit * 1.5;
$height-thumb: 90px;

$areas: contact, blog, work, legal-notice, error;
