// global font sizes scss-map variable - use with mixin
// ======================================================================

$font-sizes: (
  h1: 64px,
  h1-mobile: 36px,
  h2: 48px,
  h3: 24px,
  h4: 18px,
  small: 14px,
  default: 24px
);
