// webmentions styling
// ======================================================================

.webmentions-mentions,
.webmentions-reposts,
.webmentions-replies,
.webmentions-likes {
  @include clearfix;
  clear: both;
}

.webmention {
  @include margin(b 1/2);

  @include mediaquery(s) {
    @include padding(r 1/2);
    float: left;
    width: 50%;
  }

  @include mediaquery(l) {
    width: 33.3333%;
  }
}

.webmention-author {
  @include clearfix;
  @include margin(b 0);
  position: relative;
}

.webmention-author__meta {
  @include font-size(small);
  @include padding(t 1/4);
}

.webmention-author__photo {
  @include margin(r 1/4);
  float: left;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

.webmention-text {
  @include font-size(small);
  @include margin(v 1/2);
  clear: left;
}
