// content styles
// ======================================================================

.content-wrapper {
  @include mediaquery(xl) {
    @include spacing-inner(t 1);
  }
}

.content {
  @include mediaquery(xl) {
    @include spacing-inner(l 2);
    width: 60%;
    float: left;
  }
}

.content--project {
  display: none;

  @include mediaquery(xl) {
    display: block;
  }
}

.content--blog {
  @include mediaquery(xl) {
    @include spacing(t -2.5);
    width: 72%;
  }
}

.content--legal-notice {
  @include font-size(small);

  @include mediaquery(l) {
    @include font-size(h4);
  }
}

// stuff inside the content
// ======================================================================

.content__buzzwords {
  @include spacing-inner(a 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  .graf--h2 {
    width: 100%;
    display: block;
  }

  .list--ul {
    @include spacing-inner(l 0, r 1/2);
    flex: 1 0 40%;
    line-height: 2;
    list-style: none;

    .list__item {
      @include spacing(b 0);
      border-bottom: 2px solid color(default);

      &:first-child {
        border-top: 4px solid color(default);
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}

