// with love
// ======================================================================

.love {
  @include center(both);
  transform: translateX(-50%) translateY(-50%) scale(1);
  transform-origin: 50% 50%;
  width: 70%;
  height: 70%;

  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
