

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="7" />
    <meta name="ICBM" content="12.121212, 12.121212" />
    <meta name="geo.position" content="12.121212;12.121212" />
    <meta name="geo.region" content="Some Region" />
    <meta name="geo.placename" content="Some City" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="authorization_endpoint" href="//" />
    <link rel="token_endpoint" href="//" />
    <link rel="me" href="https://twitter.com/yoursocialhandle" />
    <link rel="me" href="https://github.com/yoursocialhandle" />
    <link rel="me" href="https://keybase.io/yoursocialhandle" />
    <link rel="pgpkey" href="url-to-public-key.txt">

    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content=""/>
    <meta property="og:description" content=" " />
    <meta property="og:site_name" content="webgefrickel—Styleguide" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="Site owners name" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yoursocialhandle" />
    <meta name="twitter:creator" content="@yoursocialhandle" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:alt" content="" />

    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="../../images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="../../images/favicon-16x16.png" />
    <link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#323232" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#999" />
    <meta name="theme-color" content="#999" />

    <!-- add any og/twitter-card stuff here -->
    
      <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>


  <h3 style="margin-bottom: 0;">default</h3>
  <p class="font--default">
    Typeface: Geomanist<br />
    Fallback: sans-serif<br />
    Weight: 600<br />
    Style: normal<br />
    
      Uses @font-face with file: geomanist-medium<br />
    
  </p>


  <p class="font--default" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>

  <h3 style="margin-bottom: 0;">regular</h3>
  <p class="font--regular">
    Typeface: Geomanist<br />
    Fallback: sans-serif<br />
    Weight: 400<br />
    Style: normal<br />
    
      Uses @font-face with file: geomanist-regular<br />
    
  </p>


  <p class="font--regular" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>

  <h3 style="margin-bottom: 0;">code</h3>
  <p class="font--code">
    Typeface: Menlo<br />
    Fallback: monospace<br />
    Weight: 400<br />
    Style: normal<br />
    
  </p>


  <p class="font--code" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>


  
    <script src="../../scripts/main.js" defer></script>
  
  </body>
</html>



