

<!doctype html>
<html class="no-js  fonts-loaded" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="robots" content="index,follow" />
    <meta name="revisit-after" content="7" />
    <meta name="ICBM" content="12.121212, 12.121212" />
    <meta name="geo.position" content="12.121212;12.121212" />
    <meta name="geo.region" content="Some Region" />
    <meta name="geo.placename" content="Some City" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <link rel="authorization_endpoint" href="//" />
    <link rel="token_endpoint" href="//" />
    <link rel="me" href="https://twitter.com/yoursocialhandle" />
    <link rel="me" href="https://github.com/yoursocialhandle" />
    <link rel="me" href="https://keybase.io/yoursocialhandle" />
    <link rel="pgpkey" href="url-to-public-key.txt">

    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:alt" content=""/>
    <meta property="og:description" content=" " />
    <meta property="og:site_name" content="webgefrickel—Styleguide" />
    <meta property="og:locale" content="en_US" />
    <meta property="article:author" content="Site owners name" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yoursocialhandle" />
    <meta name="twitter:creator" content="@yoursocialhandle" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:alt" content="" />

    <link rel="apple-touch-icon" sizes="180x180" href="../../images/apple-touch-icon.png" />
    <link rel="icon" sizes="32x32" type="image/png" href="../../images/favicon-32x32.png" />
    <link rel="icon" sizes="16x16" type="image/png" href="../../images/favicon-16x16.png" />
    <link rel="mask-icon" href="../../images/safari-pinned-tab.svg" color="#323232" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="msapplication-TileColor" content="#999" />
    <meta name="theme-color" content="#999" />

    <!-- add any og/twitter-card stuff here -->
    
      <link rel="stylesheet" href="../../styles/main.css" />
  </head>
  <body>

<svg class="icon  icon--right">
  <use xlink:href="../../images/sprite.svg#icon--right"/>
</svg>

  
    <script src="../../scripts/main.js" defer></script>
  
  </body>
</html>



