// mixin for setting display block and other often used combinations
@mixin block($block-value: default) {
  position: relative;
  display: block;

  @if $block-value == pseudo {
    content: '';
  } @else if $block-value == block {
    overflow: hidden;
  }
}
