// Lists
// ======================================================================

ul,
dl,
ol {
  @include margin(a 0, b 1);
  @include padding(a 0, l 1);
}

// never ever show lists in navigation or fieldsets blocks as lists
nav,
fieldset {
  ul,
  ol {
    list-style: none;
    padding: 0;
  }
}

