// base styles for html, body and other global elements
// ======================================================================

html {
  @include color(default);
  @include background-color(background);
  box-sizing: border-box;
  line-height: $base-line-height;
  font-size: $base-font-size; // as reference for rem
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  text-size-adjust: 100%;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}


body {
  @include font(default);
  @include background-color(background);
  margin: 0;
  padding: 0;

  @include mediaquery(print) {
    * {
      display: none;
    }

    &::after {
      content: 'Please, do not waste paper by printing webpages.';
    }
  }
}

// text selection styles
::selection {
  @include background-color(main);
  @include color(inverted);
  text-shadow: none;
}
