// text styles, defaults
// ======================================================================

pre,
code {
  @include background-color(code);
  @include font(code);
}

pre {
  @include block;
  @include margin(a 0, b 1);
  @include padding(a 1/2);
  @include color(inverted);
  @include font-size(small);
  overflow: auto;

  > code {
    @include background-color(transparent);
  }
}

p {
  @include margin(a 0, b 1);

  > code {
    @include padding(a 1/8);
    @include font-size(small);
    @include background-color(codetext);
  }
}

hr {
  @include block;
  @include margin(a 0, b 1);
  @include color(default);
  clear: both;
  height: $base-half / 3;
  background: currentColor;
  border: 0;
}

strong,
b,
i,
em {
  @include font(regular);
}
