$animation-ease-default: ease-in !default;
$animation-transition-properties: transform opacity !default;
$animation-duration-fast: 0.15s !default;
$animation-duration-default: 0.3s !default;
$animation-duration-slow: 0.6s !default;

// globally used keyframe animations are defined here
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
