// base unit definition and width/heights for other stuff
// ======================================================================

// base unit - default font-size * line-height in rem and half/double
$base-line-height: map-get(map-get($font-config, default), line-height);
$base-font-size: map-get($font-sizes, default);

$base-unit-in-px: $base-font-size * $base-line-height;
$base-unit: 1rem * $base-line-height;
$base-half: $base-unit / 2;
$base-double: $base-unit * 2;


// globally used width and height declarations
// ======================================================================

$width-max: 1180px;
$width-link-section: $base-half;
$width-max-mobile: 30%;
$width-max-tablet: 80%;
$width-max-desktop: 90%;

$height-header: $base-unit * 1.5;
$height-thumb: 90px;

// other globally used variables
// ======================================================================

$areas: contact, blog, work, legal-notice, error;
