// font families and their fallbacks for the whole page
// ======================================================================

$font-config: (
  default: (
    family: 'Geomanist',
    fallback: 'Helvetica, Arial, sans-serif',
    weight: 600,
    style: normal,
    line-height: 1.3333,
    fontface: true,
    file: 'geomanist-medium'
  ),

  regular: (
    family: 'Geomanist',
    fallback: 'Helvetica, Arial, sans-serif',
    weight: 400,
    style: normal,
    fontface: true,
    file: 'geomanist-regular'
  ),

  code: (
    family: 'Inconsolata',
    fallback: 'Hack, Menlo, Courier, monospace',
    weight: 400,
    style: normal,
    line-height: 1.2,
    fontface: false
  )
);

// global font sizes scss-map variable - use with mixin
// ======================================================================

$font-sizes: (
  h1: 64px,
  h1-mobile: 36px,
  h2: 48px,
  h3: 24px,
  h4: 18px,
  small: 14px,
  default: 24px
);
