

<div style="overflow: hidden;">
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #999; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        main (#999)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #323232; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        default (#323232)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #fff; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        background (#fff)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #f00; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        error (#f00)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #f78474; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        work (#f78474)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #5dc5dc; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        blog (#5dc5dc)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #70c382; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        contact (#70c382)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #fff; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        imprint (#fff)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #323232; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        code (#323232)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: rgba(#000, 0.1); width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        codetext (rgba(#000, 0.1))
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: #fff; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        inverted (#fff)
      </span>
    </div>
  
    <div style="width: 160px; padding: 5px; border: 1px solid #ccc; float: left; margin: 0 10px 10px 0;">
      <div style="background-color: transparent; width: 100%; height: 120px; margin-bottom: 0.2em;"></div>
      <span style="font-size: 14px;">
        transparent (transparent)
      </span>
    </div>
  
</div>

