

<div class="h-card  p-author">
  <h2 class="page--contact__author  p-name">Site owners name</h2>
  <p>
    <a class="u-photo" href="//picsum.photos/300/300" title="Site owners name" />
      <span class="p-street-address">Street 12</span>
    <br />
    <span class="p-postal-code">39582</span>
    <span class="p-locality">Some City</span>,
    <span class="p-country-name">Absurdistan</span>
    <br />
    <a class="link  u-email" href="mailto:youremail@mail.com">youremail@mail.com</a>
    <br />
    <a class="link  u-url" href="https//wgf.dev.localhost">https//wgf.dev.localhost</a>
    <br />
    <span class="p-tel">+491840540923</span>
    <data class="p-latitude" value="12.121212"></data>
    <data class="p-longitude" value="12.121212"></data>
  </p>

  <p class="social">
  

  
    
    <a href="https://mastodon.social/@yoursocialhandle" class="link  link--with-icon  social__link"
  
  >
  
    <svg class="icon  icon--mastodon  link__icon">
  <use xlink:href="../../images/sprite.svg#icon--mastodon"/>
</svg>

  
  <span class="link__text">Profile on mastodon.social</span>
</a>

  
    
    <a href="https://twitter.com/yoursocialhandle" class="link  link--with-icon  social__link"
  
  >
  
    <svg class="icon  icon--twitter  link__icon">
  <use xlink:href="../../images/sprite.svg#icon--twitter"/>
</svg>

  
  <span class="link__text">Profile on Twitter</span>
</a>

  
    
    <a href="https://github.com/yoursocialhandle" class="link  link--with-icon  social__link"
  
  >
  
    <svg class="icon  icon--github  link__icon">
  <use xlink:href="../../images/sprite.svg#icon--github"/>
</svg>

  
  <span class="link__text">Profile on GitHub</span>
</a>

  
</p>


</div>


