

<div class="flow">
  <h2>The Flow-Component will add margin to all children following each other inside a container.</h2>
  <p>See <a href="https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/">the 24ways-article</a> for more information.</p>
  <p>Tenetur ducimus nemo quisquam non dignissimos alias. Adipisci deleniti quidem dolorem. A nostrum officia quibusdam.</p>
  <p>Tenetur ducimus nemo quisquam non dignissimos alias. Adipisci deleniti quidem dolorem. A nostrum officia quibusdam.</p>
  <h3 style="--flow-space: 6rem;">This h3 has more space to the top</h3>
  <p>Tenetur ducimus nemo quisquam non dignissimos alias. Adipisci deleniti quidem dolorem. A nostrum officia quibusdam.</p>
  <p>Tenetur ducimus nemo quisquam non dignissimos alias. Adipisci deleniti quidem dolorem. A nostrum officia quibusdam.</p>
</div>

