


  <h3 style="margin-bottom: 0;">default</h3>
  <p class="font--default">
    Typeface: Geomanist<br />
    Fallback: sans-serif<br />
    Weight: 600<br />
    Style: normal<br />
    
      Uses @font-face with file: geomanist-medium<br />
    
  </p>


  <p class="font--default" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>

  <h3 style="margin-bottom: 0;">regular</h3>
  <p class="font--regular">
    Typeface: Geomanist<br />
    Fallback: sans-serif<br />
    Weight: 400<br />
    Style: normal<br />
    
      Uses @font-face with file: geomanist-regular<br />
    
  </p>


  <p class="font--regular" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>

  <h3 style="margin-bottom: 0;">code</h3>
  <p class="font--code">
    Typeface: Menlo<br />
    Fallback: monospace<br />
    Weight: 400<br />
    Style: normal<br />
    
  </p>


  <p class="font--code" style="padding: 1em; background: #eee;">
    Example Text:<br />
    Manchmal Sätze, die alle Buchstaben des Alphabets enthalten - man nennt
    diese Sätze »Pangrams«. Sehr bekannt ist dieser: The quick brown fox jumps
    over the lazy old dog. Oft werden in Typoblindtexte auch fremdsprachige
    Satzteile eingebaut (AVAIL® and Wefox™ are testing aussi la Kerning),
    um die Wirkung in anderen Sprachen zu testen. In Lateinisch sieht zum
    Beispiel fast jede Schrift gut aus.<br /><br />
    Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
    weswegen nach TypoGb. 204 § ab dem Jahr 2034 Zahlen in 86 der Texte zur
    Pflicht werden. Nichteinhaltung wird mit bis zu 245 € oder 368 $ bestraft.
    Genauso wichtig in sind mittlerweile auch Âçcèñtë, die in neueren Schriften
    aber fast immer enthalten sind. Ein wichtiges aber schwierig zu integrierendes
    Feld sind OpenType-Funktionalitäten.
  </p>


