

<!-- Start: @icon--close -->
<svg class="icon  icon--close">
  <use xlink:href="../../images/sprite.svg#icon--close"/>
</svg>
<!-- End: @icon--close -->

<!-- Start: @icon--default -->
<svg class="icon  icon--default">
  <use xlink:href="../../images/sprite.svg#icon--default"/>
</svg>
<!-- End: @icon--default -->

<!-- Start: @icon--github -->
<svg class="icon  icon--github">
  <use xlink:href="../../images/sprite.svg#icon--github"/>
</svg>
<!-- End: @icon--github -->

<!-- Start: @icon--heart -->
<svg class="icon  icon--heart">
  <use xlink:href="../../images/sprite.svg#icon--heart"/>
</svg>
<!-- End: @icon--heart -->

<!-- Start: @icon--left -->
<svg class="icon  icon--left">
  <use xlink:href="../../images/sprite.svg#icon--left"/>
</svg>
<!-- End: @icon--left -->

<!-- Start: @icon--logo -->
<svg class="icon  icon--logo">
  <use xlink:href="../../images/sprite.svg#icon--logo"/>
</svg>
<!-- End: @icon--logo -->

<!-- Start: @icon--mastodon -->
<svg class="icon  icon--mastodon">
  <use xlink:href="../../images/sprite.svg#icon--mastodon"/>
</svg>
<!-- End: @icon--mastodon -->

<!-- Start: @icon--menu -->
<svg class="icon  icon--menu">
  <use xlink:href="../../images/sprite.svg#icon--menu"/>
</svg>
<!-- End: @icon--menu -->

<!-- Start: @icon--right -->
<svg class="icon  icon--right">
  <use xlink:href="../../images/sprite.svg#icon--right"/>
</svg>
<!-- End: @icon--right -->

<!-- Start: @icon--twitter -->
<svg class="icon  icon--twitter">
  <use xlink:href="../../images/sprite.svg#icon--twitter"/>
</svg>
<!-- End: @icon--twitter -->

