

<p class="social">
  

  
    <a href="https://mastodon.social/@webgefrickel" class="link  link--with-icon  social__link  u-url"
  
  >
  
    <svg class="icon  icon--mastodon  link__icon">
  <use xlink:href="../../images/sprite.svg#icon--mastodon"/>
</svg>

  
  <span class="link__text">Profile on mastodon.social</span>
</a>

  
    <a href="https://twitter.com/webgefrickel" class="link  link--with-icon  social__link  u-url"
  
  >
  
    <svg class="icon  icon--twitter  link__icon">
  <use xlink:href="../../images/sprite.svg#icon--twitter"/>
</svg>

  
  <span class="link__text">Profile on Twitter</span>
</a>

  
    <a href="https://github.com/webgefrickel" class="link  link--with-icon  social__link  u-url"
  
  >
  
    <svg class="icon  icon--github  link__icon">
  <use xlink:href="../../images/sprite.svg#icon--github"/>
</svg>

  
  <span class="link__text">Profile on GitHub</span>
</a>

  
</p>


