

<nav class="tiles">
  
    <a class="tile  tile--contact" href="/contact">
      <div class="tile__inner">
        <h2 class="tile__title">Contact</h2>
        <div class="tile__teaser">Contact subtext</div>
      </div>
    </a>
  
    <a class="tile  tile--work" href="/work">
      <div class="tile__inner">
        <h2 class="tile__title">Work</h2>
        <div class="tile__teaser">Work subtext</div>
      </div>
    </a>
  
    <a class="tile  tile--blog" href="/blog">
      <div class="tile__inner">
        <h2 class="tile__title">Blog</h2>
        <div class="tile__teaser">Blog subtext</div>
      </div>
    </a>
  
</nav>

